// colors
.bg-gradient-theme {
    background: linear-gradient(to bottom, #007bff, #6c757d);
}

.bg-gradient-theme-top {
    background: linear-gradient(to top, #007bff, #6c757d);
}

.bg-gradient-theme-left {
    background: linear-gradient(to left, #007bff, #6c757d);
}

.bg-gradient-theme-right {
    background: linear-gradient(to right, #007bff, #6c757d);
}